*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.container-novelty{
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
}

/*ESTILOS DEL HEADER*/

/*Header de la página de inicio*/

.container-header{
    position: sticky;
    top: 52px;
}

.header{
    position: absolute;
    top: -52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.first-item{
    margin-top: 17px;
}

/*Header de las páginas de contenidos*/

.header-contents{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.container-search{
    display: flex;
}

.inputSearch{
    font-size: 18px;
    width: 300px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 20px 0 0 20px;
}

.inputSearch::placeholder{
    font-style: italic;
    color: #AAA;
}

.btnSearch{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0 20px 20px 0;
    outline: none;
    cursor: pointer;
    fill: #666;
    background-color: #CCC;
}

.btnSearch:hover{
    background-color: #888;
    fill: #EEE;
}

.btnSearch:active{
    background-color: #777;
    fill: #DDD;
}

.btnSearch svg{
    width: 90%;
    padding: 5px;
}

/*MENÚ DE NAVEGACIÓN*/

.nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.menu,
.sub-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.menu_item{
    float: left;
    padding: 0 20px;
}

.sub-menu_item:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.sub-menu{
    display:none;
    position: absolute;
}

.sub-menu_item{
    background-color: rgba(0, 0, 0, 0.7);
    padding:10px;
    border-bottom: 1px #FFF solid;
}

.menu_link{
    text-decoration: none;
    display: block;
    color: #FFF;
}

.menu_item:hover .sub-menu{
    display: block;
}

/*ICONO HOME*/

.fa-home{
    width: 18px;
}

.section{
    width: 90%;
    margin: auto;
}

.title,
.paragraph{
    margin-top: 20px;
}


/*MANUALES*/

.content-manual{
    position: relative;
    top: 80px;
}

.manual{
    display: block;
    width: 90%;
    height: 550px;
    margin: auto;
}



























/*RESPONSIVE*/

@media (max-width: 1000px){
    .header{
        flex-direction: column;
    }

    .nav{
        margin-top: 20px;
    }

    .header{
        top: -90px;
        padding: 10px;
    }

    .container-header{
        top: 90px;
    }
}

